{% extends 'layout.html' %}

{% block content %}

<div>
    <main id="main">
        
        <h1 id="main-heading">Home</h1>
        <p>
            Welcome to the ultimate podcast library, where your next favorite
            show awaits! Discover a vast collection of podcasts spanning every
            genre, from true crime and business to comedy and science. Our library
            offers curated recommendations, fresh releases, and timeless classics,
            making it easier than ever to find content that fits your interests and
            schedule. Dive into engaging episodes, explore new voices, and stay up-to-date
            with the latest trends in podcasting. Whether you're a casual listener or a podcast
            aficionado, our platform provides a seamless and enjoyable listening experience
            tailored just for you. Start exploring today and let the journey of endless
            audio adventures begin!
        </p>
    </main>
</div>

{% endblock %}